/* Fonts */
.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared Styles */
* {
    transition: all 0.4s ease-in-out;
}

body {
    background-color: #f5f8ff;
}

.max-width {
    max-width: 1140px;
    margin: 0 auto;
}

.big-text {
    font-size: 4rem;
    font-weight: 700;
    color: black;
}

.body-text {
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.section-heading {
    font-size: 3.125rem;
    font-weight: 700;
    color: black;
}

.small-text {
    font-size: 1rem;
    font-weight: 600;
}

.color-dark {
    color: black;
}

.color-gray {
    color: rgba(0, 0, 0, 0.5);
}

.color-acent {
    color: #E95A08;
}

.btn-primary {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #E95A08;
    padding: 19px 0;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #c94b03;
}

/* Nav bar styles */
.logo-container img {
    max-height: 82px;
}

/* Plants Section */
.plants {
    margin-top: 120px;
}

.plants p {
    margin: 16px 0 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

/* Card Styles */
.card .title {
    font-weight: 500;
    margin-top: 30px;
}

.card .price {
    font-weight: 700;
    margin-bottom: 30px;
}

/* Plant Lover Section Styles */
.plant-lover {
    margin-top: 210px;
}

.plant-lover .image {
    width: 540px;
    background-image: url("../assets/flower-store.png");
}

.plant-lover .info {
    width: 540px;
}

.plant-lover .image img {
    max-width: 286px;
    background-repeat: no-repeat;
    position: relative;
    top: -127px;
    left: 351px;
}

.plant-lover .info ul {
    list-style-type: disc;
}

.plant-lover .info ul li {
    margin-bottom: 20px;
}

/* Animation */


/* Offer Card Section */
.latest-deal {
    margin-top: 134px;
}

.deal-description {
    margin-top: 16px;
    margin-bottom: 120px;
}

.offer-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 2fr);
    column-gap: 28px;
    row-gap: 25px;
}

.small h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

.small a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 10px;
}

.big h4 {
    font-size: 3.125rem;
    font-weight: 700;
}

.big a {
    font-size: 1.75rem;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 10px;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#card-1{
    background-image: url("../assets/deal-bloom.png");
}
#card-2{
    background-image: url("../assets/deal-zabo.png");
}
#card-3{
    background-image: url("../assets/deal-ana.png");
}

/* email Subscription Section */
.subscription {
    width: 100%;
    align-self: center;
    padding: 200px 0;
    margin: 120px 0 0;
    text-align: center;
    color: white;
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
}

.subscription h3 {
    color: white;
}

.subscription form {
    display: flex;
    gap: 0;
    justify-content: space-between;
    width: 60vw;
    margin: 23px auto;
}

.subscription form input[type=email] {
    background-color: white;
    color: black;
    padding: 15px 20px;
    width: 100%;
}

.subscription form input[type=email]:focus {
    outline: none;
}

.subscription form input[type=submit] {
    background-color: #E95A08;
    color: white;
    font-weight: 600;
    padding: 19px 55px;
}

.subscription form input[type=submit]:hover {
    background-color: #c94b03;
    cursor: pointer;
}

/* Footer Styles */
footer{
    padding: 50px 0;
}

.column-2{
    margin-bottom: 32px;
}

.column-2 ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
}

.column-3 img{
    max-height: 36px;
    width: 36px;
}


/* Responsive Styles */
@media screen and (width <=48rem) {
    .big-text {
        font-size: 1.5rem;
    }

    .body-text {
        font-size: 0.875rem;
    }

    .section-heading {
        font-size: 1.5rem;
    }

    .max-width{
        padding: 0 16px;
    }

    .menu {
        display: none;
    }

    .logo-container img {
        max-height: 38px;
    }

    .hero {
        flex-direction: column-reverse;
        margin-top: 28px;
    }

    .hero img {
        margin: 0 -16px 28px;
    }

    .plants {
        margin-top: 80px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card .title {
        margin-top: 15px;
    }

    .card .price {
        margin-bottom: 15px;
    }

    .btn-primary {
        font-size: 0.9rem;
        padding: 15px 0;
    }

    .plant-lover {
        flex-direction: column;
        margin-top: 50px;
    }

    .plant-lover .image {
        height: 597px;
        width: 100%;
        background-image: url("../assets/flower-store.png");
        margin-bottom: 18px;
    }

    .plant-lover .info {
        width: 100%;
        padding: 16px;
    }

    .plant-lover .info h3 {
        margin-bottom: 16px;
    }

    .plant-lover .image img {
        display: none;
    }

    .latest-deal {
        margin-top: 50px;
    }

    .deal-description {
        margin-bottom: 40px;
    }

    .offer-card-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .offer-card {
        height: 185px;
    }

    .offer-card h4 {
        font-size: 1.25rem;
    }

    .offer-card a {
        font-size: 1rem;
    }

    .big {
        order: 3;
    }

    .subscription {
        width: 100%;
        padding: 100px 0;
        margin: 80px 0;
    }

    .subscription form {
        width: 90vw;
    }

    .subscription form input[type=submit] {
        padding: 19px 12px;

    }

    footer{
        grid-template-columns: repeat(1, 1fr);
    }

    .column-2{
        flex-direction: column;
        gap: 32px;
    }

    .column-3{
        margin-bottom: 50px;
    }
}

@media screen and (width >=48rem) and (width <=64rem) {
    body {
        padding: 0 10px;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}